body {
	/*background-color: #f7f7f7;*/
    /*background-color: #ffff;*/
   /* background-color: #0d3e89;*/

   background: url("../image/home.png") no-repeat center center fixed;
   background-size: cover;
}


.container {
    max-width: 1300px;
}

.col-md-9 {
    color: #000 !important;
}
small.text-muted {
    color: #ffff !important;
}
.border_info {
    border-style: outset;
    padding: 1%;
}

.datos_orden{
    color: #000000 !important;
    -webkit-text-stroke: 2px #00000000;
    font-weight: bold;
}
h1.h5.mb-3 {
    color: #ffffff;
    -webkit-text-stroke: 2px #00000000;
}
main{
    height: -webkit-fill-available;
    background: #56565685;
    top: 5%;
    position: absolute;
    bottom: 0;
    z-index: -9995;
    right: 0;
    left: 0;
}

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a {
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
}
body, p, a, li {
    font-family: 'Lato',arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.card.login_card {
    margin-top: 13%;
    /* min-width: 113%; */
}
a:hover {
    color: #ffffcc!important;
}
.btn-outline-primary {
    color: #ffffff !important;
    border-color: #ffffff !important;
}
.navbar {
    background-color: #0d3e89;
	-moz-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
	-webkit-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
	box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
	padding: 10px 16px;
}

.navbar .navbar-brand {
	font-weight: bold;
	letter-spacing: -1px;
	font-size: 20px;
	color: #ffff;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #acacac;
}

.fileinput {
	text-align: center;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

ul.pagination {
	margin-bottom: 0;
}
.card2 {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    width: 60em !important;
}

.card-title {
    color: #fff;
    background: #435d7d;
    padding: 16px 20px;
}

.btn-outline-secondary {
    color: #f8f9fa !important;
    border-color: #6c757d;
    background: green !important;
}

.btn-outline-secondary.gestionar {
    color: #f8f9fa !important;
    border-color: #6c757d;
    background: #f0bf01 !important;
}
li.nav-item {
    margin-bottom: 3%;
    /* text-align: left; */
}
@media screen and (min-width: 800px) {

  }

  .file_imput{

        border: solid;
        padding: 2%;
        border-color: #ff00006b;
        background-color: #fff;
        padding-bottom: 7%;
    }
    .col-md-7 input {
        /* border: 2px; */
        border-color:  #ff00006b;
        min-width: 100%;
        /* border-radius: 25px; */
    }

    input#inputFile {
        padding: 2%;
        min-width: 100%;
        min-height: 69px;
    }


    .datos_centrados{
        font-size: 82%;
        min-height: 58px;
        text-align: center;
    }

    table {
        width: 100%;
        /* padding: 5%; */
    }
    .ipt{
        font-size: 7px;
    }

    a.btn-outline-no-danger {
        display: none !important;
    }

    .red_status{
background-color: rgba(255, 13, 13, 0.849) !important;
color:#fff;
    }

    .yellow_status{
       background-color: rgb(240 191 1) !important;
       color:#fff;
            }


            .green_status{

                color: #fff;
    background-color: #28a745 !important;
    border-color: #28a745;

                    }

                    .grey_status{
                        background-color: rgb(71, 71, 71) !important;
                        color:#fff;

                            }

                            .orange_status{
                                background-color: rgb(240 73 1)!important;
                                color:#fff;
                                    }
                                    .blue_status{
                                        background-color: #0d3e89 !important;
                                        color:#fff;
                                            }

                                            .col-sm {
                                                max-width: 150px;
                                            }


     @media only screen and (max-width: 600px) {
        .hidden-xs{
            display: none;
 }

 .col-sm {
    max-width: 30%;
    font-size: 80%;
}
                     }


                     @media only screen and (min-width:601px) {
                        .hidden-md .hidden-sm .hidden-lg{
                            display: none;
                 }


                                     }


